.fondo{
    margin: 0;
    min-height: 96vh;
    background-image: url(/Images/fondoJuego.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo{
    margin-top: 80px;
    border-radius: 30px;
}
button{
    padding: 10px 25px;
    font-size: 30px;
    line-height: 40px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient( to right bottom, #af1fcb, #c71c81);
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem;
    background: rgba(255,255,255,.3);
}
.logo{
    width: 400px;
    height: 400px;
}
.lado2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.titulo{
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #af1fcb;
    margin-bottom: 100px;
    font-weight: bold;
    /* background-color: rgba(49, 109, 223, 0.397); */
}

.juego1{
    margin: 20px;
}

.contAudio{
    margin-top: 60px;
}
a{
    text-decoration: none;
    color: #fff;
}